.con1{
    width:100%;
    display: flex;
}
.topics{
    width: 25%;
    text-align: center;
    height: auto;
}
.body{
    background-image: url("img1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header{
     width:auto;
    height:auto;
    padding-bottom: 10px;
    padding-top: 10px;;
}
.button1{
    width: fit-content;
    min-height:30px;
    background-color:cornsilk;
    color: blue;
    font-size:large;
    cursor: pointer;
}
.button{
    width:fit-content;
    min-height: 30px;
    background-color:lightgreen;
    color:blue;
    font-size:large;
    cursor: pointer;
}
.button1:hover{
    transform: scale(1.2);
}
.banner{
    height:fit-content;
    width:100%;
    padding-bottom: 40px;
}
.size{
    max-width: 800px;
    margin: 0 auto;
    
}
.products{
    display: grid;
  grid-template-columns: repeat(2,1fr);
    gap: 30px;
    padding: 10px;
}
.item{
text-align: left;
padding-left: 10px;
padding-bottom: 10px;
}
.item img{
    width: 120px;
height: min-content;
align-items: center;
}
.pdis{  
    padding: 5px;
   background-color:aliceblue ;
    color:darkblue;
    font-size: medium; 
}
.social-icons i {
    padding-top: 0px;
    font-size: 30px;
    margin-right: 30px;
    transition: 0.3s;
    width:12%;
}
.social-icons i:hover {
    transform: scale(1.2);
}

.inf{
    background-color: aliceblue;
    width: 100%;
    padding:5px;
    padding-top: 2px;
padding-bottom: 5px;
}
.advice{
    padding:0px;
    color:blueviolet;
    font-size:medium;
}
 .container{
    display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr ));
width: 100%;
    max-width:800px;
    gap:10px;
    margin:auto;
   height:auto;
 }
 .container img{
    width:100%;
    height:auto;
 }
 @media(max-width:1000px){
.container{
grid-template-columns: 1fr;
 }
}
.vary{
     padding: 5px;
   background-color:aliceblue ;
    color:darkblue;
    font-size: small; 
}
.hero img{
    width: 100%;
    margin-top: 10px;
}
.footer{
    padding-top: 15px;
    width:100%;
    display:flex;
    height: fit-content;
    padding-bottom: 10px;
    background-color:aliceblue;
}
.con3{
    width: 22%;
    height: auto;
    padding-right: 10px;
    align-items: center;
    text-align: center;
}

.con3 img{
    width:50%;
    height:75px;
    padding-left: 5%;
}
.foot{
    padding-top: 0px;
    width: 100%;
    text-align: left;
    color:blue;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.social-icons i {
    padding-top: 0px;
    font-size: 30px;
    margin-right: 17px;
    margin-left: 17px;
    transition: 0.3s;
}

.social-icons i:hover {
    transform: scale(1.2);
}
.fname{
    color: blue;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
footer{
    padding-top: 10px;
}